<!DOCTYPE html>
<html>
  <head>
    <title>ShironaAtelier</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/ba55380711.js" crossorigin="anonymous"></script>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="header-menus-left">
        <ul>
          <li>
            <h1>Menu</h1>
          </li>
          <li>
            <%= link_to("Home", "/") %>
          </li>
          <li>
            <%= link_to("Profile", "/profile") %>
          </li>
          <li>
            <%= link_to("Contents", "/contents") %>
          </li>
        </ul>
      </div>
      <div class="header-logo">
        <%=link_to image_tag("/Shirona_Atelier.png", width: "100%", height: "auto"), "/" %>
      </div>
      
      <div class="header-menus-right">
        <ul>
          <li>
            <h1>External</h1>
          </li>
          <li>
            <%= link_to("Twitter", "/twitter") %>
            <i class="fab fa-twitter-square"></i>
          </li>
          <li>
            <%= link_to("Books", "/books") %>
            <i class="fas fa-book"></i>
          </li>
          <li>
            <%= link_to("note", "/note") %>
          </li>
        </ul>
      </div>
    </header>
    <main>
      <h1>Welcome</h1>
    </main>
  </body>
</html>